<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{post.title}}<br>
{{post.text}}<br>

{%if user.is_authenticated%}
<form method="POST" class="post-form">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{%else%}
<br>for shitposting- pls authenticated
{%endif%}
{{user.username}}
<br>
{{pst}}

<br>

{% for com in comments%}
<p>Comments - {{com.id}}:</p>
<p>{{com.text}}</p>
{%endfor%}




</body>
</html>